{% extends 'frontend/base.html' %}
{% block title %} HomeDDD {% endblock %}
{% block content %}



<div class="jumbotron">
    <h1 class="display-3">Home page Product list</h1>
    <p class="lead">Jumbo helper text</p>
    <hr class="my-2">
    <p>More info</p>
    <p class="lead">
        <a class="btn btn-primary btn-lg" href="Jumbo action link" role="button">Jumbo action name</a>
    </p>
</div>

<div class="container">
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Detail</th>
                <th>Barcode</th>
                <th>Qty</th>
                <th>image</th>
                <th>status</th>
            </tr>
        </thead>
        <tbody>
            {% for p in products %}
            <tr>
                <td>{{ p.product_name }}</td>
                <td>{{ p.product_detail }}</td>
                <td>{{ p.product_barcode }}</td>
                <td>{{ p.product_qty }}</td>
                <td>{{ p.product_price }}</td>
                <td>{{ p.product_image }}</td>
                <td><a name="" id="" class="btn btn-primary" href="#" role="button">{{ p.product_status }}</a></td>             
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}